h1{
    font-family:forte;
    color: yellow;
    background-color: black;
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:indigo;
    background:white;
    text-align:center;
    font-size: 24px;


}
div{
    height: 900px;
    width: 2000px;
    background-color:indigo;
    font-size: 30px;
    color: red;
    background: url("books.jpg");
}
h2{
    font-family:forte;
    color:yellow;
    background-color:black;
    text-align: center;
    font-size: 38px;

}
li{
    font-family:forte;
    color:red;

    text-align: left;
    font-size: 30px;
    font-stretch:extra-expanded;
}
ul{
    font-family:forte;
    font-display:fallback ;
    color:black;
    
    text-align: left;
    font-size: 30px;

}